# URL da API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Configurações do Next.js
NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=your-secret-key-here

# Configurações de desenvolvimento
NODE_ENV=development
