# URL da API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Cloudflare R2 (para permitir imagens remotas no Next/Image)
# Ex: r2_host = <accountid>.r2.cloudflarestorage.com
NEXT_PUBLIC_R2_HOSTNAME=
# Se usar CNAME próprio (cdn.seudominio.com), informe aqui para whitelist no Next/Image
NEXT_PUBLIC_R2_PUBLIC_BASE_HOSTNAME=

# Configurações do ambiente
NODE_ENV=development

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here